

#list_jobs, #job_details{
  padding-bottom: 75px;


  .hide{
    display: none;
  }


  h1{
    text-align: center;
  }
  padding-top: 90px;
  margin-left: 25px;
  margin-right: 25px;

  .ui.piled.segment.jobdetails{
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .ui.fluid.cards{
    .card{
      height: auto;
      width: 400px;

      .truncate{
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .ui.segment.match{
    width: 100%;
  }

  #applicants_buttons{
    padding-top: 40px;

  }

  #job_description{
    p{
      word-wrap: break-word;
    }
  }





}
