$button_primary_border_color: #00b2b6;
$button_primary_border_color: #00b2b6;
$button_on_hover_color: pink;
$transparent: transparent;

#list_jobs, #job_details{
  padding-bottom: 75px;
  background-color: $primary_body_background_color;

  // Filter By
  .ui.center.aligned.raised.segment{
    margin-left: 5%;
  }

  .ui.button.small{
    width: 115px;
  }

  .ui.button.small.solid{
    width: 130px;
  }

  .ui.blue.button.small.solid.contact{
    margin-top: 5px;
    bottom: 5%;
    left: 5%;
    position: absolute;
  }

  .hide{
    display: none;
  }


  h1{
    text-align: center;
  }
  padding-top: 90px;


  .ui.piled.segment.jobdetails{
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .left.floated.tiny.ui{
    padding-top: 30px;
  }

  .ui.fluid.cards{
    margin-left: 25px;
    margin-right: 25px;

    .card{
      border: 2.5px solid $button_primary_border_color;
      background-color: $transparent;

      height: auto;
      width: 300px;

      // .header, .meta, .description{
      //   color: $button_primary_border_color;
      // }

      .truncate{
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .card.list{
      height: auto;
      width: 300px;

      // .truncate{
      //   width: 250px;
      //   white-space: nowrap;
      //   overflow: hidden;
      //   text-overflow: ellipsis;
      // }
    }

    .card:hover{
      background-color: $button_primary_border_color;
      .header, .meta, .description{
        color: white;
      }
    }
  }

  // CSS for List_Match View
  .twelve.wide.column{
    .ui.fluid.cards{
      margin-left: 25px;
      margin-right: 25px;

      .card{
        border: 2.5px solid $button_primary_border_color;
        background-color: $transparent;

        height: auto;
        width: 300px;

        .header, .meta, .description{
          color: $button_primary_border_color;
        }
        //
        // .truncate{
        //   width: 250px;
        //   white-space: nowrap;
        //   overflow: hidden;
        //   text-overflow: ellipsis;
        // }
      }

      .card.list{
        height: auto;
        width: 300px;

        // .truncate{
        //   width: 250px;
        //   white-space: nowrap;
        //   overflow: hidden;
        //   text-overflow: ellipsis;
        // }
      }
    }
  }

  .ui.segment.match{
    width: 100%;
    border: 2.5px solid $button_primary_border_color;
    color: $button_primary_border_color;
    background-color: $transparent;
    .item.ui.label{
      background-color: $button_primary_border_color;
      color: white;
    }
    .item.ui.label:hover{
      background-color: $button_on_hover_color;
    }
  }

  #applicants_buttons{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #job_description{
    p{
      word-wrap: break-word;
    }
  }


}
