

#job_details{
  h1{
    text-align: center;
  }
  .ui.grid{
    margin-left: 25px;
    margin-right: 25px;

    // .ui.segment{
    //   height: 250px;
    // }

    #field_title{
      padding-right: 5px;
      font-weight: bold;
      font-size: 1em;
    }
    .four.wide.column{
      display: inline-flex;
    }
  }


}
