

#job_details{

  background-color: $primary_body_background_color;


  h1{
    text-align: center;
  }
  .ui.grid{
    margin-left: 25px;
    margin-right: 25px;

    .ui.segment.match{
      height: 250px;

      .item.ui.label{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
      }

    }

    #field_title{
      padding-right: 5px;
      font-weight: bold;
      font-size: 1em;
    }
    .four.wide.column{
      display: inline-flex;
    }
  }



}
