$job_primary_background_color: #f2f2f2;

.posting_job{
  padding-top: 25px;
  h2{
    text-align: center;
  }
  .ui.form.job{
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: $job_primary_background_color;
  }
}

#employer_loginForm{
  padding-top: 15px;
  padding-bottom: 25px;

  p {
    padding-left: 25px;
  }

  #employer_signup_form{
    padding-left: 25px;
    padding-right: 25px;
  }
}

#error_page{
  height: 400px;
  h2{
    text-align: center;
  }
}

#employer_profile_form, #applicant_profile_form, #applicant_profile_form, #applicant_profile_update{

  .icon.minus.circle:hover{
    cursor: pointer;
  }


  #industry_experience, #areas_expertise{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;

    span{
      display:flex;
    }
  }

  .ui.floated.button{
    margin-top: 50px;
    margin-right: 15%;
  }

  #eventDropZone{
    height: 250px;
    width: 200px;

    .ui.header{
      text-align: center;
    }

    .ui.fluid.button{
      margin-top: 10px;
    }
  }

  .field{
    .ui.segment{
      width: 100%;
    }

    p{
      cursor: pointer;
    }
  }

  .profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
  }

  padding-top: 75px;
  padding-bottom: 150px;

  h1, h4, p{
    text-align: center;
  }

  .ui.stacked.segment{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25px;
    margin-bottom: 50px;
  }

  .ui.form.employer_profile_form, .ui.form.applicant_profile_form, .ui.form.applicant_profile_update{

    margin-left: 25px;
    margin-right: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 75px;
    padding-top: 25px;
    background-color: $job_primary_background_color;
  }

}
