#applicant_profile, #employer_profile{
  padding-top: 100px;
  .ui.grid{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
  }

  .ui.equal.width.grid{
    .ui.label.details{
      margin-bottom: 5px;
    }
  }

  .ui.middle.aligned.divided.list{
    .item{
      margin: 5px;
    }
  }

  .twelve.wide.column{
    h2{
      text-align: center;
    }
    .ui.label.details{
      width: 100%;
    }
  }

  .ui.horizontal.list{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
    display: flex;

    .item.search_tags{
      text-align: center;
      width: 15%;
    }
  }
}
