#applicant_profile, #employer_profile{
  padding-top: 100px;
  .ui.grid, #bio{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

    .ui.image{
      margin-left: 15%;
    }

    #profile_title{
      padding-top: 60px;
    }

    h4{
      text-align: center;
    }

    #left_panel{
      h2{
        text-align: right;
      }
    }

    #right_panel{
      h2{
        text-align: left;
      }
    }


  }



  .ui.equal.width.grid{
    .ui.label.details{
      margin-bottom: 5px;
    }
  }

  .ui.middle.aligned.divided.list{
    .item{
      margin: 5px;
    }
  }

  .twelve.wide.column{
    h2{
      text-align: center;
    }



  }

  .ui.label.details{
    text-align: center;
    width: 100%;
  }

  .ui.horizontal.list{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    display: flex;

    .item.search_tags{
      display: flex;
      width: 100%;
      text-align: center;
    }
  }

}
