
$profile_item_detail_background_color: #d5d5d5;
$button_primary_border_color: #00b2b6;
$transparent: transparent;
$button_on_hover_color: pink;

#applicant_profile, #employer_profile{

  padding-top: 100px;
  padding-bottom: 50px;
  width: 102%;
  background-color: $primary_body_background_color;

  .column{
    margin-left: 1px;
    margin-right: 1px;
  }

  .ui.center.aligned.basic.segment{
    img{
      margin-left: 0;
    }
  }

  .ui.segment{
    border: 2.5px solid $button_primary_border_color;
    color: $button_primary_border_color;
    background-color: $transparent;
    .item.ui.label{
      background-color: $button_primary_border_color;
      color: white;
    }
    .item.ui.label:hover{
      background-color: $button_on_hover_color;
    }
  }

  .item.ui.label{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .ui.grid, #bio{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;

    .ui.image{
      margin-left: 15%;
    }

    #profile_title{
      padding-top: 60px;
    }

    h4, h3, h2{
      text-align: center;
    }

    #hint{
      font-size: 1em;
      text-align: center;
      font-weight: normal;
    }

    #left_panel{
      h2{
        text-align: right;
      }
    }

    #right_panel{
      h2{
        text-align: left;
      }
    }


  }



  .ui.equal.width.stackable.grid{
    .ui.label.details{
      width: 200px;
      margin-bottom: 5px;
    }
    h2{
      text-align: center;
    }

  }

  .ui.middle.aligned.divided.list{
    .item{
      margin: 5px;
    }
  }

  .twelve.wide.column{

    h4{
      text-align: center;
    }



  }

  .ui.label.details{
    background-color: $profile_item_detail_background_color;
    text-align: center;
    width: 250px;
  }

  .ui.horizontal.list{
    padding-left: 50px;
    padding-right: 50px;
    // padding-bottom: 50px;
    display: flex;

    .item.search_tags{
      display: flex;
      width: 100%;
      text-align: center;
    }
  }

}
