@import "intro";
@import "profiles";
@import "forms";
@import "card_view";
@import "detailView";


$secondary_background_color: #f1f1f1;
$button_primary_background_color: white;
$button_primary_color: #1678c2;
$transparent: transparent;

// color schemes from Gareth
$primary_body_background_color: #ebebeb;
$secondary_body_background_color: #252339;
$menu_top_primary_background_color: #39374c;
$primary_text_color: white;
$button_primary_border_color: #00b2b6;
$button_on_hover_color: pink;




body {
  font-family: Arial;
  background-color: $primary_body_background_color;

}



.ui.button.large{
  border: 2.5px solid $button_primary_border_color;
  color: $button_primary_border_color;
  background-color: $transparent;
  width: 275px;
}

.ui.button.medium{
  background-color: $button_primary_border_color;
  color: $primary_text_color;
  width: 50px;
}

.ui.button.medium:hover, .ui.button.large:hover{
  background-color: $primary_text_color;
  color: $menu_top_primary_background_color;
}

.ui.button.small{
  background-color: $button_primary_border_color;
  color: $primary_text_color;
  width: 90px;
}

.ui.button.small.solid{
  background-color: $button_primary_border_color;
  color: $primary_text_color;
  width: 130px;
}
.ui.button.small.solid:hover{
  background-color: $button_on_hover_color;
}



// right panel nav menu
#main_header_menu{
  #menu_top{
    background-color: $menu_top_primary_background_color;

    .item{
      color: $primary_text_color;

    }
  }
}

#spinner{
  height: 600px;
}

// Admin Page
#Admin{
  padding-top: 90px;
  height: 500px;

  margin-left: 50px;
  margin-right: 50px;

  h1{
    text-align: center;
  }

  .ui.teal.labeled.icon.button{
    width: 200px;
  }

}

#error_page{
  padding-left: 25%;
  padding-top: 150px;
  padding-bottom: 50px;
  margin-bottom: 25%;
  height: 500px;

  #error_404{
    font-size: 8em;
  }
  img{
    height: 340px;
    width: auto;
    padding-left: 25%;
  }

}

// Mobile & Tablet @media imports

// iPhone 4
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  @import "responsive/mobile_4";
}

// iPhone 5 & 5S
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  @import "responsive/mobile_5";
}

// iPhone 6 & 6S
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  @import "responsive/mobile_6";
}

// iPhone 6plus
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  @import "responsive/mobile_6plus";
}

// Tablets
@media only screen and (min-device-width: 736px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  @import "responsive/tablet";
}
