<!DOCTYPE html>
<html>
  <head>
    <title>Apex Job Board</title>

    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
    
    <link rel="stylesheet" href="<%= styleSrc %>" type="text/css" media="screen" charset="utf-8">


    <!-- semantic -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>

    <link href="https://cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css" />


    <script src="/script.js"></script>

  </head>
  <body>
    <div id="root"><%- html %></div>
    <script type="text/javascript" charset="utf-8">
      window.__REDUX_STATE__ = '<%= reduxState %>';
    </script>

    <% scriptSrcs.forEach(function(src){ %>
      <script src="<%= src %>"></script>
    <% }) %>

  </body>
</html>
