// This is the css for the iPone 6 & 6S

// Header Menu CSS
#main_header_menu{
  .item.header{
    font-size: .7em;
  }
}


#job_details{
  #archive_repost_buttons{
    margin-right: 50px;
  }
}

#main_display_links{
  width: 105%;
}

#main_display_image img{
  margin-top: 15%;
  height: 300px;
  width: 105%;
}

#error_page{
  padding-top: 190px;
  padding-bottom: 50px;
  height: 500px;

  #error_404{
    font-size: 3em;
  }
  img{
    height: 140px;
    width: auto;
    padding-left: 5%;
  }
}

#footer{
  width: 105%;
}

// Applicant_skill_form
#applicant_profile_form{

  #industry_experience, #areas_expertise{
    padding-left: 15%;

  }

  h1{
    margin-left: -12%;
    font-size: 1.25em;
    padding-bottom: 5%;
  }

}
