// This is the css for the iPone 5

// Header Menu CSS
#main_header_menu{
  .item.header{
    font-size: .7em;
  }
}


#job_details{
  #archive_repost_buttons{
    margin-right: 75px;
  }
}

#main_display_image img{
  margin-top: 15%;
  height: 300px;
}

#about_us_div{
  #about_us_text{

    #about_us_title{
      font-size: 1.5em;
    }

    p{
      font-size: 1em;
    }

  }
}

#error_page{
  padding-top: 150px;
  padding-bottom: 50px;
  height: 500px;

  #error_404{
    font-size: 3em;
  }
  img{
    height: 140px;
    width: auto;
    padding-left: 5%;
  }

}
