// This is the css for the tablet

// applicant & employer profiles
#employer_profile{
  .ui.grid{
    padding-left: 25px;
    padding-right: 25px;

  }

}


#job_details{
  .ui.two.column.centered.grid{
    .column{
      padding-right: 75px;
    }
  }
}


#error_page{
  padding-top: 190px;
  padding-bottom: 50px;
  margin-bottom: 25%;
  height: 500px;

  #error_404{
    font-size: 8em;
  }
  img{
    height: 340px;
    width: auto;
    padding-left: 5%;
  }

}

// Applicant_skill_form
#applicant_profile_form{

  #industry_experience, #areas_expertise{
    padding-left: 5%;

  }

  h1{
    text-align: center;
    font-size: 1.75em;
    padding-bottom: 5%;
  }

}
